<div class="flex flex-wrap">
  <div class="flex-auto">
    <div class="p-10 lg:ps-9 lg:py-40">
      <h2 class="md:mb-4 text-lg md:text-xl lg:text-6xl font-normal text-gray-500">{{ 'PRESENTATION.I_AM' | transloco }}</h2>
      <p class="md:mb-8 text-4xl lg:text-5xl font-extrabold text-gray-900">{{ 'PRESENTATION.FRONTEND_DEVELOPER' | transloco }}</p>
    </div>
  </div>
  <div class="flex-auto my-auto">
    <img class="object-cover w-full text-center inline-block align-baseline" src="../../../assets/images/web-development-outline.svg" alt="">
  </div>
</div>
