<!-- <div class="slider">
  <div class="slide-track text-blue-700">
    <ng-container *ngFor="let slide of slides">
      <div class="slide" *ngIf="slide.enabled">
        <img [src]="'assets/images/' + slide.name" [alt]="slide.name" class="text-blue-300 fill-current"/>
      </div>
    </ng-container>
  </div>
</div> -->

<section class="bg-blue-700 text-white text-center py-16 md:py-36 mb-10">
  <h2 class="font-bold text-2xl lg:text-3xl pb-10">
    Tecnologias
  </h2>
  <div class="flex flex-wrap gap-2 justify-center align-middle container mx-auto">
    <ng-container *ngFor="let slide of slides">
      <div *ngIf="slide.enabled">
        <img [src]="'assets/images/' + slide.image" [alt]="slide.image" class="w-48 h-48 p-4"/>
      </div>
    </ng-container>
  </div>
</section>
