a {
  background-color: #1A56DB;
  color: white;
  padding: 0px 15px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
}

.container-button {
  background-color: #94A3B8;
  cursor: pointer;
}
