<section class="container mx-auto pt-19">
  <div class="pt-10 md:pt-20 ps-10 pe-10 text-center">
    <h2 class="md:mb-4 text-lg md:text-xl lg:text-6xl font-normal text-gray-500">{{ 'PRESENTATION.I_AM' | transloco }}</h2>
    <p class="text-4xl lg:text-5xl font-extrabold text-gray-900">{{ 'PRESENTATION.FRONTEND_DEVELOPER' | transloco }}</p>
    <div class="flex justify-center gap-3 mt-5">
      <a href="https://www.linkedin.com/in/agustin-gonzalez-9866a5204/">
        <i-bs class="text-blue-700" name="linkedin"></i-bs>
      </a>
      <a href="https://github.com/agusshadow">
        <i-bs class="text-violet-700" name="github"></i-bs>
      </a>
    </div>
  </div>
  <div class="flex justify-center">
    <img class="w-1/2 md:w-1/4 block text-center pt-12" src="../../../assets/images/ilustracion-pc.svg" alt="">
  </div>
</section>
