<section class="py-16">
  <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
      <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-center text-blue-700">{{ 'CONTACT.TITLE' | transloco }}</h2>
      <p class="mb-8 lg:mb-16 font-light text-center text-gray-500">{{ 'CONTACT.SUBTITLE' | transloco }}</p>
      <form action="#" class="space-y-8">
          <div>
              <label for="email" class="block mb-2 text-sm font-medium text-gray-900 ">{{ 'CONTACT.FORM.MAIL.LABEL' | transloco }}</label>
              <input type="email" id="email" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5" required>
          </div>
          <div class="sm:col-span-2">
              <label for="message" class="block mb-2 text-sm font-medium text-gray-900">{{ 'CONTACT.FORM.MESSAGE.LABEL' | transloco }}</label>
              <textarea id="message" rows="6" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500" [placeholder]="'CONTACT.FORM.MESSAGE.PLACEHOLDER' | transloco"></textarea>
          </div>
          <button type="submit" class="py-3 px-5 text-sm font-medium text-center text-white rounded-lg bg-blue-700 sm:w-fit hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300">{{ 'CONTACT.FORM.SEND' | transloco }}</button>
      </form>
      <p class="font-light text-gray-500 mt-5">
        {{ 'CONTACT.FORM.WHATSAPP.TEXT_1' | transloco }}
        <a class="text-green-500" href="https://wa.me/+541159785325" target="_blank">
          {{ 'CONTACT.FORM.WHATSAPP.TEXT_2' | transloco }}
        </a>
        {{ 'CONTACT.FORM.WHATSAPP.TEXT_3' | transloco }}
      </p>
  </div>
</section>
